*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:Arial,sans-serif;
background:#fff8fc;
}

.navbar{
background:#ff8fc7;
}

.hero{
height:100vh;

background:
linear-gradient(
rgba(255,143,199,.5),
rgba(255,143,199,.5)
),

url("https://images.unsplash.com/photo-1538485399081-7c897fce2f0c?w=1600");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.hero-content h1{
font-size:4rem;
font-weight:bold;
}

.hero-content p{
font-size:1.3rem;
margin:20px 0;
}

.section-title{
color:#ff4fa2;
margin-bottom:30px;
font-weight:bold;
}

.card{
border:none;
border-radius:20px;
overflow:hidden;
box-shadow:0 5px 15px rgba(0,0,0,.1);
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
height:250px;
object-fit:cover;
}

.food-card{
background:#ffe4f1;
}

.btn-pink{
background:#ff4fa2;
color:white;
}

.btn-pink:hover{
background:#ff2b8c;
color:white;
}

footer{
background:#ff8fc7;
color:white;
padding:30px;
text-align:center;
margin-top:50px;
}